<div class="row">
    <div class="Aboutfirstimage">
        <div class="text1">
            <h1 style="text-align:center">Fill Up The Form Below and We Will Be in Touch With Your Shortly</h1>
        </div>
    </div>
</div>

<div class="row">  
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
        <div class="Aboutsecondimage">
            <form action="/contact-us/#wpcf7-f1503-p132-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="1503"> <input type="hidden" name="_wpcf7_version" value="4.9.2">
                    <input type="hidden" name="_wpcf7_locale" value="en_US"> <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1503-p132-o1">
                    <input type="hidden" name="_wpcf7_container_post" value="132">
                </div>
                <p style="width:80%; float:left; text-align:left; margin-left:10%;">
                    <span class="wpcf7-form-control-wrap your-fullname">
                        <input type="text" name="your-fullname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Full Name*">
                    </span>
                </p>
                <p style="width:39%;float:left; text-align:left;margin-left:10%;">
                    <span class="wpcf7-form-control-wrap your-email">
                        <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Email*">
                    </span>
                </p>
                <p style="width:39%;float:left;margin-left:2%; text-align:right;">
                    <span class="wpcf7-form-control-wrap tel-214">
                        <input type="tel" name="tel-214" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Your Phone No*" style="margin-right: 600px;">
                    </span>
                </p>
                <p style="width:39%; float:left; text-align:left; margin-left:10%;">
                    <span class="wpcf7-form-control-wrap your-company">
                        <input type="text" name="your-company" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Company*">
                    </span>
                </p>
                <p style="width:39%;float:left; margin-left:2%; text-align:right;">
                    <span class="wpcf7-form-control-wrap menu-607">
                        <select name="menu-607" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false" style="margin-right: 600px;">
                            <option value="Services">Services</option>
                            <option value="IPs">IPs</option>
                            <option value="Partnership">Partnership</option>
                            <option value="Media">Media</option>
                            <option value="Employee Verification">Employee Verification</option>
                        </select>
                    </span>
                </p>
                <p style="width:100%; text-align:center; margin:0px auto;"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="80" rows="7" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Comments*" style="margin-right: 970px; margin-bottom: 50px;"></textarea></span></p><div>





                    <div class="wpcf7-form-control-wrap">
                        <div data-sitekey="6LcbHyoTAAAAACCOktYKuoYop-4YeQE8oMCMY5en" class="wpcf7-form-control g-recaptcha wpcf7-recaptcha capatcha" style="padding-left: 192px;"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcbHyoTAAAAACCOktYKuoYop-4YeQE8oMCMY5en&amp;co=aHR0cHM6Ly93d3cuZWluZm9jaGlwcy5jb206NDQz&amp;hl=en&amp;v=v1537165899310&amp;size=normal&amp;cb=9i39z9ywe033" width="304" height="78" role="presentation" name="a-b3r20vv13ww2" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div> <noscript>
                            <div style="width: 302px; height: 422px;">
                                <div style="width: 302px; height: 422px; position: relative;">
                                    <div style="width: 302px; height: 422px; position: absolute;"> <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LcbHyoTAAAAACCOktYKuoYop-4YeQE8oMCMY5en" frameborder="0" scrolling="no" style="width: 302px; height:422px; border-style: none;"> </iframe></div><div style="width: 300px; height: 60px; border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
                                        <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;">
				</textarea>
                                    </div>
                                </div>
                            </div>
                        </noscript>
                    </div>
                </div><p style="text-align:center;width:200px; margin:0px auto;"><input type="submit" value="Let us Connect" class="wpcf7-form-control wpcf7-submit" id="csub1" style="margin-top: 40px; margin-bottom: 80px;"><span class="ajax-loader"></span></p>
            </form>
        </div>
    </div>
</div>