a@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@* On top image *@
<div class="row">
    <div class="homepagefirstimage" style=" margin-top: -20px;">
        <div class="text1">
            <h1 style="text-align:center">Industry 4.0</h1>
            Hot Technologies Available At The Moment
        </div>
    </div>
    <div class="homepagefirstimage" style="padding:0px"> </div>
</div>




<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" style="padding:0px;">
        <img class="img-responsive" src="~/images/AI.png" style="height: 400px;
                                                            max-width: 100%;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            margin-left: 0px;
                                                            padding: 0px;
                                                            min-height: 100%;">
        <div class="AI">
            <figure style="margin-top:-400px">
                <figcaption>
                    <h1 style="margin-top: -100px; font-family: 'Sans serif';">Artificail Intelligence</h1><br>
                    <p style="text-align:center; font-size:16px; margin-top: -100px; margin-bottom: -50px; padding: 30px; font-family: 'Sans serif';">An excerpt about Artificail Intelligence should be here.</p><br>
                    <h3 style="color: white;"><a asp-action="EmergingTechnologies" style="font-family: 'Sans serif';">Read More</a></h3>
                </figcaption>
            </figure>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 col-xs-12" style="padding:0px">
        <img class="img-responsive" src="~/images/IoT.png" style="height: 400px;
                                                                max-width: 100%;
                                                                background-repeat: no-repeat;
                                                                background-size: cover;
                                                                margin-left: 0px;
                                                                padding: 0px;
                                                                min-height: 100%;">
        <div class="IoT">
            <figure style="margin-top:-400px">
                <figcaption>
                    <h1 style="margin-top: -100px; font-family: 'Sans serif';">Internet of Things</h1><br>
                    <p style="text-align:center; font-size:16px; margin-top: -100px; margin-bottom:-50px; padding:30px; font-family: 'Sans serif';">The network of physical devices, vehicles, home appliances, and other items.</p><br>
                    <h3><a asp-action="EmergingTechnologies" style="font-family: 'Sans serif';">Read More</a></h3>
                </figcaption>
            </figure>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 col-xs-12" style="padding:0px">
        <img class="img-responsive" src="~/images/Cognitiveservices.png" style="height: 400px;
                                                                            max-width: 100%;
                                                                            background-repeat: no-repeat;
                                                                            background-size: cover;
                                                                            margin-left: 0px;
                                                                            padding: 0px;
                                                                            min-height: 100%;">
        <div class="Cognitiveservices">
            <figure style="margin-top:-400px">
                <figcaption>
                    <h1 style="margin-top: -100px; font-family: 'Sans serif';">Cognitive Services</h1><br>
                    <p style="text-align:center; font-size:16px; margin-top: -100px; margin-bottom:-50px; padding:30px; font-family: 'Sans serif';">Machine learning algorithms.</p><br>
                    <h3><a asp-action="EmergingTechnologies"style="font-family: 'Sans serif';">Read More</a></h3>
                </figcaption>
            </figure>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 col-xs-12" style="padding-right:0px; padding-left: 0px;">
        <img class="img-responsive" src="~/images/Cloud.png" style="height: 400px;
                                                                max-width: 100%;
                                                                background-repeat: no-repeat;
                                                                background-size: cover;
                                                                margin-left: 0px;
                                                                padding: 0px;
                                                                min-height: 100%;">
        <div class="Cloud">
            <figure style="margin-top:-400px">
                <figcaption>
                    <h1 style="margin-top: -100px; font-family: 'Sans serif';">Cloud Computing</h1><br>
                    <p style="text-align:center; font-size:16px; margin-top: -100px; margin-bottom:-50px; padding:30px; font-family: 'Sans serif';">A key differentiator is the availability of bare metal servers with fine-grained capabilities for defining what you need.... With IBM Cloud, you can engineer a system fitted exactly to the task at hand.</p><br>
                    <h3><a asp-action="EmergingTechnologies" style="font-family: 'Sans serif';">Read More</a></h3>
                </figcaption>
            </figure>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 col-xs-12" style="padding:0px">
        <img class="img-responsive" src="~/images/Robotics.png" style="height: 400px;
                                                                    max-width: 100%;
                                                                    background-repeat: no-repeat;
                                                                    background-size: cover;
                                                                    margin-left: 0px;
                                                                    padding: 0px;
                                                                    min-height: 100%;">
        <div class="Robotics">
            <figure style="margin-top:-400px">
                <figcaption>
                    <h1 style="margin-top: -100px;font-family: 'Sans serif';">Robotics</h1><br>
                    <p style="text-align:center; font-size:16px; margin-top: -100px; margin-bottom:-50px; padding:30px; font-family: 'Sans serif';">Interdisciplinary branch of engineering and science</p><br>
                    <h3><a asp-action="EmergingTechnologies" style="font-family: 'Sans serif'; ">Read More</a></h3>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12" style="padding:0px">
        <img class="img-responsive" src="~/images/Blockchains.png" style="height: 400px;
                                                                        max-width: 100%;
                                                                        background-repeat: no-repeat;
                                                                        background-size: cover;
                                                                        margin-left: 0px;
                                                                        padding: 0px;
                                                                        min-height: 100%;">
        <div class="Blockchains">
            <figure style="margin-top:-400px">
                <figcaption>
                    <h1 style="margin-top: -100px;font-family: 'Sans serif';">Blockchains</h1><br>
                    <p style="text-align:center; font-size:16px; margin-top: -100px; margin-bottom:-50px; padding:30px; font-family: 'Sans serif';">The world's most trusted all-in-one crypto company. </p><br>
                    <h3><a asp-action="EmergingTechnologies"style="font-family: 'Sans serif';">Read More</a></h3>
                </figcaption>
            </figure>
        </div>
    </div>
</div>



@*Second  BAckground image*@
<div class="row">
    <div class="homepagesecondimage"></div>
</div>

<div class="row">
    <div class="homepagesecondimage" style=" margin-top: -20px;">
        <div class="text1"></div>
    </div>
    <div class="homepagesecondimage" style="padding:0px"> </div>
</div>



@*@* 6 Sliders for home page *@
<div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/Wiki.png" alt="ASP.NET" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Wikipedia go here
                            <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Industry_4.0">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/Forbes.png" alt="Visual Studio" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Forbes
                            <a class="btn btn-default" href="https://www.forbes.com/sites/bernardmarr/2016/06/20/what-everyone-must-know-about-industry-4-0/#7df1aada795f">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/IBNsliders.png" alt="Package Management" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            IBM here
                            <a class="btn btn-default" href="https://www.ibm.com/industries/manufacturing?S_PKG=ov60479&cm_mmc=Search_Google-_-Industrial_Industrial+-+Discrete+Manufacturing-_-WW_NA-_-industry+4.0_Exact_ov60479&cm_mmca1=000020DR&cm_mmca2=10005255&cm_mmca7=9071954&cm_mmca8=kwd-297031802574&cm_mmca9=9a244c0e-4e2f-4a0c-879b-abaf5cee4a64&cm_mmca10=280798821827&cm_mmca11=e&mkwid=9a244c0e-4e2f-4a0c-879b-abaf5cee4a64|1082|36760&cvosrc=ppc.google.industry%204.0&cvo_campaign=000020DR&cvo_crid=280798821827&Matchtype=e">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/Industry.png" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Industry 4.0
                            <a class="btn btn-default" href="http://www.industry40news.com.au/">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/images/Einfochips.png" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Einfochips
                            <a class="btn btn-default" href="https://www.einfochips.com/blog/top-industry-4-0-trends-watch-2018/">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/images/DIISslider.png" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Department of Industry, Innovation and Science
                            <a class="btn btn-default" href="https://www.industry.gov.au/">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>





